
html, body {
  margin     : 0;
  padding    : 0;

  background : #faf8ef;
}

body {
  margin-top : 40px;
  padding-bottom
}

.container {
  position : relative;

  width    : 530px;
  margin   : 0 auto;
}

.heading:after {
  content : "";

  display : block;
  clear   : both;
}

h1.title {
  position    : relative;
  display     : block;
  float       : left;

  width       : 100%;
  margin      : auto;

  font-size   : 60px;
  font-weight : bold;
  text-align  : center;
}

.game-container {
  position      : relative;
  box-sizing    : border-box;

  height        : 500px;
  width         : 500px;
  margin-top    : 40px;
  padding       : 15px;

  cursor        : default;
  background    : #bbada0;
  border-radius : 6px;
}

.grid-container {
  position : absolute;
  z-index  : 1;
}

.grid-row {
  margin-bottom : 4px;
}

.grid-row:nth-child(3n+3) {
  margin-bottom : 7px;
}

.grid-row:last-child {
  margin-bottom : 0;
}

.grid-row:after {
  content : "";

  display : block;
  clear   : both;
}

.grid-cell {
  float         : left;

  height        : 48px;
  width         : 48px;
  margin-right  : 4px;
  padding       : 0;

  background    : rgba(238, 228, 218, 0.35);
  border-radius : 3px;
}

.grid-cell:nth-child(3n+3) {
  margin-right : 7px;
}

.grid-cell:last-child {
  margin-right : 0;
}

input[type=text], input[type=number] {
  height           : 48px;
  width            : 48px;
  padding          : 0;

  background-color : transparent;
  font-size        : 30px;
  color            : white;
  text-align       : center;
  border           : 0;
  outline          : none;

  font-weight:     : bold;
  -moz-appearance  : textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  margin             : 0;
  -webkit-appearance : none;
}

.button-container {
  position   : relative;
  margin-top : 40px;
}

.button-container > * {
  margin-bottom : 20px;
}

.footer {
  position   : absolute;
  bottom     : 0;
  display    : block;

  width      : 100%;
  margin-top : 150px;
  padding    : 15px;

  background : #4545e8;
  text-align : center;
  border-top : 3px solid grey;
}

.btn-social {
  color : white;
}

.btn-social:hover {
  color : grey;
}