<html>
  <head>
    {% if title %}
    <title>{{ title }} - sudoku solver</title>
    {% else %}
    <title>Welcome to sudoku solver</title>
    {% endif %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {# <script type="text/javascript" src="{{ url_for('static', filename='mappaste.js') }}"></script> #}

<script type='text/javascript'>
$(window).load(function(){
var $inputs = $(".def-txt-input2");
var intRegex = /^\d+$/;

// Prevents user from manually entering non-digits.
$inputs.on("input.fromManual", function(){
    if(!intRegex.test($(this).val())){
        $(this).val("");
    }
});


// Prevents pasting non-digits and if value is 6 characters long will parse each character into an individual box.
$inputs.on("paste", function() {
    var $this = $(this);
    var originalValue = $this.val();

    $this.val("");

    $this.one("input.fromPaste", function(){
        $currentInputBox = $(this);

        var pastedValue = $currentInputBox.val();

        if (pastedValue.length == 6 && intRegex.test(pastedValue)) {
            pasteValues(pastedValue);
        }
        else {
            $this.val(originalValue);
        }

        $inputs.attr("maxlength", 1);
    });

    $inputs.attr("maxlength", 6);
});


// Parses the individual digits into the individual boxes.
function pasteValues(element) {
    var values = element.split("");

    $(values).each(function(index) {
        var $inputBox = $('.def-txt-input2[name="chars[' + (index + 1) + ']"]');
        $inputBox.val(values[index])
    });
};
});

</script>
  </head>

  <body>
    <div class="container">
      <div class="heading">
        <h1 class="title">Sudoku Solver</h1>
      </div>
    {% block content %}{% endblock %}
    </div>
    <div class="paste-text">
      <input type="text" maxlength="1" class="def-txt-input2" name="chars[1]">
<input type="text" maxlength="1" class="def-txt-input2" name="chars[2]">
<input type="text" maxlength="1" class="def-txt-input2" name="chars[3]">
<input type="text" maxlength="1" class="def-txt-input2" name="chars[4]">
<input type="text" maxlength="1" class="def-txt-input2" name="chars[5]">
<input type="text" maxlength="1" class="def-txt-input2" name="chars[6]">
</div>
  </body>
</html>