<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Sudoku Solver</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/c4b32075ae.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mappaste.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='clear.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='nextinput.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  </head>

  <body>

    <div class="container">

      <div class="heading">

        <h1 class="title">Sudoku Solver</h1>

      </div>

      {% with messages = get_flashed_messages() %}

          {% if messages %}

            <div class="alert alert-danger alert-dismissable">

              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                {% for message in messages %}

                  <p>{{ message }}</p>

                {% endfor %}

            </div>

          {% endif %}

        {% endwith %}

      {% block content %}{% endblock %}

    </div>

    <div class='footer'>

      <a class="btn btn-social btn-github" href="https://github.com/underchemist/Flask-sudoku-app" target='_blank'>

        <span class="fa fa-github"></span> View on github

      </a>

      <a class="btn btn-social btn-twitter" href="https://twitter.com/underchemist" target='_blank'>

        <span class="fa fa-twitter"></span> underchemist

      </a>

    </div>

  </body>
</html>