{% extends "base.html" %}
{% block content %}
<div class="game-container">
  <div class="grid-container">
    <form action="{{ url_for('solution') }}" method="post" name="sudoku-input">
      {% for i in range(9) %}
        <div class="grid-row">
          {% for j in range(9) %}
            <div class="grid-cell">
              <input type="number" maxlength="1" name='cell-input'>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <input type="submit" value="Solve" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
{% endblock %}